<div class="intro_container">
<!--   <h3>Choose a Deck</h3> -->
<% @albums.each do |album| %>
<div class="album_thumb">
<a href="/album/<%=album.id%>"><img src="<%=album.photos.first.path || album.photos.first.file.thumb%>"></a>
<span class="album_title"><a href="/album/<%=album.id%>"><%= album.album_name %></a></span><div class="username"><%= album.user.username %></div>
<br/>
</div>
<% end %>
<br class = "clearFloat">
</div>

