<div class="modify_sidebar"><a href="/album/upload/<%= @album.id %>"><i class="icon-plus"></i> Add photos</a>
</div>
<div class="album_container">
<div class="album_title"><%= @album.album_name %><span class="username">  <%= @album.user.username %></div>
<% @album.photos.each do |photo| %>
<div class="photo"><img src="<%=photo.path || photo.file%>"><br/>
<span class="caption"><%= photo.title %> </i></span>
<div class="second_line_faves">
<a href="/photo/delete/<%=photo.id%>"><i class="icon-trash"></i></a></span>
</div>
</div>
<% end %>
<br class = "clearFloat">
</div>

